# OS Junk
.DS_Store
Thumbs.db

# KiCad Temporary & Backup Files
*.lck
*.bkp
*.bak
*_autosave*
fp-info-cache
*-backups/
*.kicad_pcb-bak

# KiCad Local Settings (UI preferences)
*.kicad_prl

# Generated Output Files (Artifacts)
*.gbr
*.drl
*.pos
*.rpt
*-job.gbrjob