# OS Junk
.DS_Store
Thumbs.db

# KiCad Temporary & Backup Files
*.lck               # Lock files (prevents opening read-only)
*.bkp
*.bak
*_autosave*
fp-info-cache       # Footprint cache
*-backups/
*.kicad_pcb-bak
*.kicad_prl         # Local panel settings (user preference)

# Generated Output Files (Artifacts)
# force add these files into PRODUCTION after KiCAD is finished, not into KiCAD project folder
*.gbr
*.drl
*.pos
*.rpt
*-job.gbrjob

# --- LTSpice Ignores ---
*.raw               # MASSIVE wave data files (Do not upload!)
*.log               # Simulation logs
*.net               # Generated netlists
*.op.raw

# --- Simulink/Matlab Ignores ---
*.autosave
*.slxc              # Simulink cache
slprj/              # Simulink project folders

# --- Firmware Ignores ---
.pio/               # PlatformIO build folder
*.hex               # Compiled binary (keep in /production if needed)
*.elf